@model IEnumerable<WEBCORE_Clinica_Medica.Models.Dominio.Produto>

@{
    ViewData["Title"] = "Gerar Produtos";
}

<h1 class="pt-3 pb-3">Gerar Produtos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estoque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
            </tr>
        }
    </tbody>
</table>

