@model WEBCORE_Clinica_Medica.Models.Dominio.Agendamento

@{
    ViewData["Title"] = "Visualizar Agendamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Visualizar</h1>

<div>
    <h4>Agendamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.paciente.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.medico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.medico.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataRealizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataRealizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataAgendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataAgendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.agendamentoStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.agendamentoStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Voltar a Lista</a>
</div>
