@model WEBCORE_Clinica_Medica.Models.Dominio.Movimentacao

@{
    ViewData["Title"] = "Visualizar Movimentação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Visualizar</h1>

<div>
    <h4>Movimentação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.produto.descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar a Lista</a>
</div>
