@model IEnumerable<WEBCORE_Clinica_Medica.Models.Consultas.TotalMovimentacoes>

@{
    ViewData["Title"] = "TotalMovimentacoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Total de Movimentacões</h1>

<p>
    &nbsp;
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tipoMovimentacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalMovimentacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalProdutos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tipoMovimentacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalMovimentacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalProdutos)
            </td>
        </tr>
}
    </tbody>
</table>
